{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-return" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
					<i class="fa fa-save"></i>
				</button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
					<i class="fa fa-reply"></i>
				</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li>
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-list"></i>
					{{served_title}}
				</h3>
			</div>

			<div class="served-info">
				Para Seleccionar una zona servida, sólo agregar el estado, municipio o parroquia usando el ícono (+)<br>
				Para eliminar la zona servida, en el panel de la izquierda hacer uso del ícono (-) 
			</div>

			<div class="panel-body">
				{% set tempZoneId = 0 %}
				<div class="served-container served-to-select">
					<div class="tree">
						<ul>
							{% for item in localization %}
								{# zones #}
								{% if tempZoneId != item.zone_id %}
									<li class="zs-zone item-{{item.z_display}}">
										<span class="zone-level">
											{{item.zone}}
										</span>
										<span data-level="estado" data-name="{{item.zone}}" data-id="{{item.zone_id}}"
										 title="agregar zona servida" class="add-item">(+)</span>
									{% endif %}
									{# municipios #}
									<ul>
										<li class="item-{{item.m_display}}">
											<span class="mun-level">
												{{item.mun}}
											</span>
											<span  data-level="municipio" data-name="{{item.mun}}" data-id="{{item.municipio_id}}"
												 title="agregar zona servida" class="add-item">(+)</span>
											{% set parroquias = item.parroquia|split(',') %}
											{# parroquias #}
											<ul>
												{% for par in parroquias %}
												   {% set myPar = par|split('-')  %}
													<li class="item-{{myPar[2]}}">
														<span class="par-level">
															{{myPar[1]}}
															
														</span>
														<span data-level="parroquia" data-name="{{myPar[1]}}" data-id="{{myPar[0]}}"
														 title="agregar zona servida" class="add-item">(+)</span>
													</li>
												{% endfor %}
											</ul>
										</li>
										{% set tempMunId = item.municipio_id %}
									</ul>
									{% set tempZoneId = item.zone_id %}
									{% if tempZoneId != item.zone_id %}
									</li>
								{% endif %}

							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="served-container served-selected">
					<div class="tree">
						<div class="served-info">
							Zonas servidas seleccionadas
						</div>
						{% if served %}
							<ul>
								{% for item2 in served %}
									<li>
										<span data-id="{{item2.id}}">
											{{item2.level}}	{{item2.name}}
											<span title="eliminar zona servida" class="remove-item">(-)</span>
										</span>	
										<br>
									</li>
								{% endfor %}
								<ul>
								{% else %}
									{{no_served_selected}}
							{% endif %}

						</div>
					</div>
				</div>
			</div>
		</div>

		<script>

	$.extend({
			getUrlVars: function(){
				var vars = [], hash;
				var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
				for(var i = 0; i < hashes.length; i++)
				{
					hash = hashes[i].split('=');
					vars.push(hash[0]);
					vars[hash[0]] = hash[1];
				}
				return vars;
			},
   		getUrlVar: function(name){
        return $.getUrlVars()[name];
		}
	});	

$(document).ready(function () {

	$(".tree li").each(function () {
	 if ($(this).children("ul").length > 0) {
	    $(this).addClass("parent");
	  }
	});

	$(".tree li.parent > span").click(function () {
	$(this).parent().toggleClass("active");
	$(this).parent().children("ul").slideToggle("fast");
	});

	$(window).load(function () { // Run code
	$(".tree li").each(function () {
	$(this).toggleClass("active");
	$(this).children("ul").slideToggle("fast");
	});
	});

	// add to served zone
	$('.add-item').on('click', function () {
		let me = $(this);
		let name = me.data('name');
		let level = me.data('level');
		let id = me.data('id');
			$.ajax({
				url: 'index.php?route=sale/served/add&user_token='+$.getUrlVar('user_token'),
				type: 'post',
				dataType: 'json',
				data: {'name':name,'level':level,'level_id':id},
				cache: false
			});
			removeItem(me)
		})


		$('.remove-item').on('click', function () {
		let me = $(this);
		let id = me.parent().data('id');
			$.ajax({
				url: 'index.php?route=sale/served/remove&user_token='+$.getUrlVar('user_token'),
				type: 'post',
				dataType: 'json',
				data: {'served_id':id},
				cache: false,
				success: function (json) {
						console.log(json)
				},
				error: function (xhr, ajaxOptions, thrownError) {
					console.log(thrownError)
				}
			});
		})
});


	const removeItem = function(item){
		item.parent().removeClass('item-show').addClass('item-hide');
	}

		</script>


		{{ footer }}
